.geolocation {
  background-color: #ffffff;
}

.geolocation__map {
  margin: 0 auto;
  min-height: 362px;
}

.geolocation__text {
  text-transform: uppercase;
  width: 130px;
  font-family: "oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
  margin: 0;
  color: #111111;
}

.geolocation__adress {
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  width: 140px;
}

.geolocation__adress-wrapper {
  justify-content: space-between;
  min-height: 112px;
  padding-top: 26px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

@media (min-width: $tablet-width) {
  .geolocation__adress-wrapper {
    display: flex;
    justify-content: space-between;
    width: 628px;
    margin: 0 auto;
  }
}

// @media (min-width: $desktop-width) {
//   .geolocation__adress-wrapper {
//     display: flex;
//     justify-content: space-between;
//     width: 628px;
//     margin: 0 auto;
//   }
// }

// .geolocation__map {

// }
