.gift-banner {
  background-image: url("../../images/cat-banner-bg-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px 20px;
  padding: 0;
  height: 290px;
  width: 280px;
}

.gift-banner__text {
  color: #ffffff;
  margin: 0 auto;
  display: block;
  max-width: 161px;
  text-align: center;
  padding-top: 43px;
}

.gift-banner__text::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#gift-banner-icon");
  background-size: 78px 80px;
  background-repeat: no-repeat;
  background-position: 50% 10px;
  height: 144px;
}
