.main-header {
  background-color: #ffffff;
  color: #000000;
  padding: 13px 20px;
}

.main-header__logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 73%;
  justify-content: space-between;
}

.main-header__logo-image {
  height: 38px;
}

.main-header__logo-text {
  height: 20px;
}

@media (min-width: $mobile-width-only) {
  .main-header {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
