.site-list-catalog__link {
  color: #000000;
}

@media (min-width: $desktop-width) {
  .site-list-catalog__link-current {
    border-bottom: 2px solid $base-color-green;
    padding-bottom: 6px;
  }
}
