// .step {

// }

.step--one::before {
  content: "";
  background-image: url("../../icons/stack.svg#instruction-leaf-icon");
  width: 60px;
  height: 60px;
  display: inline-block;
}

.step--two::before {
  content: "";
  background-image: url("../../icons/stack.svg#instruction-water-icon");
  width: 60px;
  height: 60px;
  display: inline-block;
}

.step--three::before {
  content: "";
  background-image: url("../../icons/stack.svg#instruction-tableware-icon");
  width: 60px;
  height: 60px;
  display: inline-block;
}

.step--four::before {
  content: "";
  background-image: url("../../icons/stack.svg#instruction-clock-icon");
  width: 60px;
  height: 60px;
  display: inline-block;
}

@media (min-width: $tablet-width) {
  .step--one::before {
    margin-top: 40px;
    bottom: 10px;
    width: 80px;
    height: 80px;
  }

  .step--two::before {
    margin-top: 40px;
    width: 80px;
    height: 80px;
  }

  .step--three::before {
    margin-top: 40px;
    width: 80px;
    height: 80px;
  }

  .step--four::before {
    margin-top: 40px;
    width: 80px;
    height: 80px;
  }
}
